
!Tsnet.Appl.gaussnode: HPCGauss02 HPCGauss00

!Tsnet.Appl.nodelist: @gaussnode


!Tsnet.Appl.maxprocspernode: 4
!Tsnet.Appl.gausshpclink.maxprocspernode: 2
Tsnet.Appl.suffix: False
Tsnet.Appl.verbose: True
Tsnet.Appl.veryverbose: True

Tsnet.Node.lindarsharg: ssh
!Tsnet.Node.lindarcparg: scp
!Tsnet.Node.debugger: gdb
!Tsnet.Node.debugger: none
!Tsnet.HPCGauss00.debugger: none

!Tsnet.Appl.masterload: 0.2
!Tsnet.Appl.workerload: 1.0
!Tsnet.Appl.maxworkers: 2
!Tsnet.Appl.getload: true

